<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tfm.uniovi.pirateseas"
    android:installLocation="auto" >

    <!-- Ask for WRITE_PERMISSION to the user -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.screen.landscape" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FullscreenTheme"
        android:debuggable="true"
        android:isGame="true"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".view.activities.MainMenuActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.GameActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.TutorialActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".view.activities.ScreenSelectionActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".view.activities.SettingsActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".view.activities.SettingsExtraActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".view.activities.HelpActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".view.activities.SensorActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".view.activities.ShopActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".view.activities.PauseActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".view.activities.GameOverActivity"
            android:screenOrientation="landscape">
        </activity>
    </application>
</manifest>
